
*{
    box-sizing: border-box;
}

.wrapper{
    background-color: lightsteelblue;
    padding: 90px;
    margin-right: 590px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid gray;
    align-items: center;
}

#ip1{
    align-content: center;
    left: 120 px;
}

.btn{
    align-self: center;
    background-color: navajowhite;
}

.results
{
    background-color: lightcoral;
    border: 1px solid black;
}

